/* CSS Variable */
:root {
  --colorWhite: #FFFFFF;
  --colorEBEBEB: #EBEBEB;
  --colorADADAD: #ADADAD;
  --color595959: #595959;
  --color191919: #191919;
  --colorBlack: #000000;
  --colorPoint: #D27B30;
  --mobileMargin: 15px;
  --tabletMargin: 60px;
  --desktopMargin: 60px;
  --marginText: 8px;
  --marginBasic: 16px;
  --transitionDuration: 400ms;

  --font-notosans: 'Noto Sans KR', serif;
  --font-roboto: 'Roboto', 'Noto Sans KR', serif;
  --font-opensans: 'Open Sans', 'Noto Sans KR', serif;
  --font-lato: 'Lato', 'Noto Sans KR', serif;
  --font-spoqa: 'Spoqa Han Sans Neo', serif;
  --font-nanum: 'Nanum Gothic', serif;
}

/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  box-sizing: border-box;
  font-family: 'Roboto', 'Noto Sans KR', serif;
  font-size: 16px;
  font-weight: 400;
	line-height: 1.4;
  cursor: default;
  position: relative;
  overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button {
  display: block;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  color: inherit;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}
button:focus,
button:active {
  outline: none;
  box-shadow: none;
}
a {
  color: inherit;
  text-decoration: none;
  outline: none;
}
a:hover, a:active {
  color: inherit; 
  text-decoration: none; 
  background-color: none;
}





.contents-container {
  width: 100%;
  max-width: 100%;
  transition: all var(--transitionDuration);
}

/* header */
#header {
  width: 100%;
  height: 80px;
  padding: 0px var(--mobileMargin);
  position: relative;
  z-index: 100;
  color: var(--colorBlack);
  background-color: var(--colorWhite);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header-container {
  width: 100%;
  height: 100%;
}

.header-flex-wrap {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.detail-controls-button, 
.sidenav-close-button {
  width: 44px;
  height: 44px;
  padding: 4px;
}

.detail-controls-button > svg {
  width: 36px;
  height: 36px;
  fill: var(--color595959);
  transition: fill var(--transitionDuration);
}
.detail-controls-button:hover > svg {
  fill: var(--colorPoint);
}




/* Main */
#main-contents {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: 80vh;
  background-color: var(--colorWhite);
  padding: 0 calc(var(--mobileMargin) * 2);
}

/* MAIN CONTROLS SECTION */
#main-font-controls {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 100;
}

/* Select font style */
.fontstyle-select-box {
  width: 312px;
}

.select-label {
  margin-bottom: var(--marginText);
}

.selected-item-button {
  width: 100%;
  height: 44px;
  padding: 0px var(--marginBasic);
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  border: 1px solid var(--colorADADAD);
  cursor: pointer;
  overflow: hidden;
}

.selected-item-button.open {
  border-bottom: 0px;
  border-radius: 8px 8px 0px 0px;
}

.selected-item {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 44px;
  color: var(--color595959);
}

.option-items {
  width: 312px;
  height: 0px;
  position: absolute;
  z-index: 120;
  overflow: hidden;
  font-size: 14px;
  background-color: var(--colorWhite);
}

.option-items.open {
  height: 272px;
  border: 1px solid var(--colorADADAD);
  border-top: 0px;
  border-radius: 0px 0px 8px 8px;
  overflow: visible;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.option-item-list {
  width: 100%;
  height: 44px;
  line-height: 44px;
  background-color: var(--colorWhite);
}

.option-item {
  width: 100%;
  height: 100%;
  padding: 0 var(--marginBasic);
  border-top: 1px solid var(--colorEBEBEB);
}

.option-item-list:first-child > .option-item {
  border-top: 0px;
}

.option-item:hover {
  color: var(--colorBlack);
  background-color: var(--colorEBEBEB);
  cursor: pointer;
}

.option-item.active {
  background-color: var(--colorADADAD);
}


/* Preview Test */
.preview-test-box {
  display: none;
  width: 312px;
}

.preview-label {
  display: block;
  margin-bottom: var(--marginText);
}

.preview-label.english::after {
  content: " : Use english only";
  color: var(--colorPoint);
}

.preview-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 44px;
  padding: 0px var(--marginBasic);
  border-radius: 8px;
  border: 1px solid var(--colorADADAD);
  font-size: 14px;
}

.selected-item-button {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  overflow: hidden;
}



/* FONT PREVIEW SECTION */
/* Font Preview */
.font-preview-header {
  width: 100%;
  height: 32px;
  border-top: 2px solid var(--colorBlack);
  border-bottom: 1px solid var(--colorBlack);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

.font-preview-main {
  position: relative;
  z-index: 1;
  padding-top: var(--marginBasic);
}

.font-preview-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--marginText);
  overflow: hidden;
}

.font-text {
  white-space: nowrap;
  min-width: 72px;
}

.font-size {
  white-space: nowrap;
  position: relative;
  background-color: var(--colorWhite);
}

.text-p {
  position: relative;
}

.font-size::before {
  content: "";
  position: absolute;
  left: -60px;
  width: 60px;
  height: 100%;
  background: var(--colorWhite);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 85%);
}



/* SIDE NAVIGATION */
.sidenav {
  width: 321px;
  min-height: 100vh;
  position: fixed;
  z-index: 500;
  top: 0;
  right: -321px;
  background-color: var(--colorWhite);
  transition: right var(--transitionDuration);
}

.sidenav.active {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  right: 0;
}

/* Close Btn */
.close-button-wrap {
  height: 88px;
  padding: var(--mobileMargin);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sidenav-close-button > svg {
  width: 40px;
  height: 40px;
  fill: var(--colorADADAD);
  transition: fill var(--transitionDuration);
}
.sidenav-close-button:hover > svg {
  fill: var(--colorBlack);
}

/* Font weight */
.fontweight-control-box {
  overflow: hidden;
  height: 48px;
  transition: all var(--transitionDuration);
}

.fontweight-control-box.open {
  height: 178px;
}

.fontweight-lists {
  /* height: 100%; */
  border-top: 1px solid var(--colorEBEBEB);
  padding: var(--marginBasic) 0px;
}

.fontweight-lists li{
  height: 32px;
  line-height: 32px;
}

.fontweight-lists li:hover {
  background-color: var(--colorEBEBEB);
}

.fontweight-list-btn {
  width: 100%;
  height: 100%;
  padding: 0px var(--marginBasic);
}

.fontweight-list-btn.active {
  background-color: var(--colorADADAD);
}


/* Letter spacing */
.letterspacing-control-box {
  overflow: hidden;
  height: 48px;
  transition: all var(--transitionDuration);
}

.letterspacing-control-box.open {
  height: 129px;
}

.letter-spacing-ragne-wrap {
  width: 100%;
  height: 80px;
  padding: var(--marginBasic);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.letter-spacing-text {
  display: inline-block;
  width: 50px;
  text-align: left;
  /* margin-right: var(--marginBasic); */
}

#letter-spacing-range {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 200px; 
  height: 2px;
  background: var(--colorADADAD);
  outline: none;
}


#letter-spacing-range::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 22px;
  height: 22px;
  background: var(--colorWhite);
  border: 2px solid var(--colorADADAD);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer; 
}

#letter-spacing-range::-moz-range-thumb {
  width: 22px;
  height: 22px;
  background: var(--colorWhite);
  border: 2px solid var(--colorADADAD);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer; 
}

/* Check box*/
.fontsize-control-box {
  overflow: hidden;
  height: 48px;
  transition: all var(--transitionDuration);
}

.fontsize-control-box.open {
  height: 425px;
}

.checkbox-items {
  padding: 24px var(--marginBasic) var(--marginBasic);
  display: flex;
  flex-wrap: wrap;
}

.checkbox-item {
  width: 33%;
  margin-bottom: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.fontsize-checkbox {
  display: none;
}

.checkbox-item label {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: var(--colorWhite);
  border: 1px solid var(--colorADADAD);
  border-radius: 4px;
  cursor: pointer;
}

.fontsize-checkbox:checked + label {
  background-color: var(--colorBlack);
  background-image: url(../images/checked.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


.checkbox-item span {
  display: inline-block;
  margin-left: var(--marginText);
}



/* Dark mode */
.darkmode-control-box {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px var(--marginBasic);
}

.darkmode-control-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.onoff-text {
  display: inline-block;
  margin-right: var(--marginText);
}

#onoff-toggle {
  display: none;
}

.onoff-toggle-label {
  display: inline-block;
  position: relative;
  width: 56px;
  height: 32px;
  border-radius: 16px;
  background-color: var(--colorADADAD);
  cursor: pointer;
  transition: background-color 0.5s;
}

.onoff-toggle-label::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 4px;
  left: 4px;
  border-radius: 50%;
  background-color: var(--colorWhite);
  transition: left 0.5s;
}

#onoff-toggle:checked + .onoff-toggle-label {
  background-color: var(--colorWhite);
}
#onoff-toggle:checked + .onoff-toggle-label::before {
  background-color: var(--colorBlack);
}

#onoff-toggle:checked + .onoff-toggle-label::before {
  top: 4px;
  left: 28px;
}


.fontweight-control-box > button,
.letterspacing-control-box > button,
.fontsize-control-box > button  {
  width: 100%;
  height: 48px;
  line-height: 48px;
  display: flex;
  justify-content: space-between;
  padding: 0px var(--marginBasic);
  cursor: pointer;
}

.fontweight-control-box,
.fontsize-control-box,
.letterspacing-control-box {
  border-bottom: 1px solid var(--colorADADAD);
}

/* Dark Mode On */
.body-container.darkmode {
  color: var(--colorWhite);
  background-color: var(--colorBlack);
}
.body-container.darkmode #header,
.body-container.darkmode #main-contents,
.body-container.darkmode .selected-item,
.body-container.darkmode .option-items,
.body-container.darkmode .option-item-list,
.body-container.darkmode .font-size,
.body-container.darkmode .preview-input {
  color: var(--colorWhite);
  background-color: var(--colorBlack);
}
.body-container.darkmode .selected-item-button,
.body-container.darkmode .preview-input {
  border: 1px solid var(--colorWhite);
}

.body-container.darkmode .font-preview-header {
  border-top: 2px solid var(--colorWhite);
  border-bottom: 1px solid var(--colorWhite);
}

.body-container.darkmode .toggle-arrow > svg,
.body-container.darkmode .detail-controls-button > svg {
  fill: var(--colorEBEBEB);
}

.body-container.darkmode .detail-controls-button:hover > svg,
.body-container.darkmode .sidenav-close-button:hover > svg {
  fill: var(--colorPoint);
}

.body-container.darkmode .fontweight-lists li:hover {
  color: var(--colorBlack);
  background-color: var(--colorEBEBEB);
}
.body-container.darkmode .fontweight-list-btn.active {
  color: var(--colorBlack);
}

.body-container.darkmode .option-item.active {
  color: var(--colorBlack);
  background-color: var(--colorADADAD);
}

.body-container.darkmode .font-size::before {
  background: var(--colorBlack);
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.6615021008403361) 25%, rgba(0,0,0,1) 66%);
}

.body-container.darkmode #header {
  color: var(--colorWhite);
  background-color: var(--colorBlack);
  box-shadow: none;
  border-bottom: 1px solid var(--colorWhite);
}


.body-container.darkmode #footer {
  color: var(--colorWhite);
  background-color: var(--color191919);
}

.body-container.darkmode .sidenav {
  color: var(--colorWhite);
  background-color: var(--colorBlack);
  box-shadow: none;
  border-left: 1px solid var(--colorWhite);
}



/* Styles */
.style-notosans {
  font-family: var(--font-notosans);
}
.style-roboto {
  font-family: var(--font-roboto);
}
.style-opensans {
  font-family: var(--font-opensans);
}
.style-lato {
  font-family: var(--font-lato);
}
.style-spoqa {
  font-family: var(--font-spoqa);
}
.style-nanum {
  font-family: var(--font-nanum);
}

.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.bold {
  font-weight: 700;
}


/* BUTTON */
.toggle-arrow {
  display: flex;
  align-items: center;
  height: 98%;
}
.toggle-arrow > svg {
  fill: var(--colorBlack);
}

.toggle-arrow.open {
  transform: rotate(180deg);
}

.filter-blur {
  filter: blur(3px);
}
.display-none {
  display: none;
}

/* FOOTER */
#footer {
  height: 10vh;
  font-size: 12px;
  padding: 0px calc(var(--mobileMargin) * 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--colorEBEBEB);
}

#footer b {
  color: var(--colorPoint);
}



@media screen and (min-width: 769px) {
  #header {
    padding: 0px var(--tabletMargin);
  }
  
  .header-title {
    font-size: 28px;
  }
  
  #main-contents {
    padding: 0px var(--tabletMargin);
  }

  .fontstyle-select-box {
    margin-right: 32px;
  }

  .preview-test-box {
    display: block;
  }

  .contents-container.active {
    max-width: calc(100% - 321px);
  }

  #footer {
    height: 12vh;
    font-size: 14px;
    padding: 0px var(--tabletMargin);
  }
}

@media screen and (min-width: 1440px) {
  #header {
    height: 120px;
  }
  
  .header-container {
    max-width: 1440px;
    margin: 0px auto;
  }
  
  .header-title {
    font-size: 36px;
  }
  
  .main-container {
    max-width: 1440px;
    margin: 0px auto;
  }
  
  #main-font-controls {
    height: 144px;
  }

  .font-preview-header {
    height: 48px;
    font-size: 14px;
  }

  .close-button-wrap {
    height: 132px;
    justify-content: flex-start;
  }


}